<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
</head>
<body>
    {% include 'navbar.html' %}
    
    <form method="POST" action="{% url 'loginUser' %}" class="login">
        {% csrf_token %}
            <div class="form">
                <h2>Вход</h2>
                <div class="input-name"><img src="{% static 'images/Vector.svg' %}"><h4>SIgn In</h4></div>
                <div class="input-form">
                  <input type="text" name="username" placeholder="username">
                </div>
                <div class="input-form">
                 <input type="password" name="password" placeholder="password">
               </div>
            
               
                <div class="message">
                 
                    </div>
                <div class="input-form-submit">
                    <input type="submit" value="LOGIN">
                </div>

                <hr style="margin-top:5%;margin-left:8%; color: black; width: 450px;">

                <div style="margin-top: 5%; margin-left: 35%;"> <a href="{% url 'registerUser' %}"><p style="color: black;">Dont have an accuont? </p></a> </div>

                <div class="icons">
                    <img src="{% static 'images/icons8-facebook.svg' %}">
                    <img src="{% static 'images/icons8-apple-logo.svg' %}">
                    <img src="{% static 'images/icons8-google.svg' %}">
                </div>
            
            
        </div>
    </form>
    
</body>

</html>